[submodule "Stashing-and-Selective-Restore"]
	path = Stashing-and-Selective-Restore
	url = git@github.com:mark79-github/Stashing-and-Selective-Restore.git
[submodule "Moving-Multiple-Commits-Between-Branches"]
	path = Moving-Multiple-Commits-Between-Branches
	url = https://github.com/mark79-github/Moving-Multiple-Commits-Between-Branches.git
